<div id="page_main">
  <div class="main_header">
    我是页面2
  </div>
  <div class="main_content">

  </div>
  <a href="#">nihaoshijie1</a>
  <!-- PageJump页面跳转方法 -->
  <button onclick="KJ.PageJump(this)" data-url="main/main.html">点击跳转</button>
</div>
<script>
  
  window.onload =function(){
    console.log("documentonload");
  }
  window.onload();
  console.log("dddddddddddddddddddddddd",window,document,window.onload,document.onload,document.ready);
  var App = {};
  App.init = function(){
    console.log("2.html页面");
    
  }
  App.init();
</script>