<div>
  <div>
    我是页面2
    <img src="http://p1.qzone.la/upload/20150311/tsljdoeq.png" alt="">
  </div>
  
  <!-- PageJump页面跳转方法 -->
  <button onclick="KJ.PageJump(this)" data-url="main/main.html">点击跳转</button>
</div>
<script>
  // var a =null,b=null;
  // function aaa(){
  //   if(a==null){
  //     if(b==1 || b==null){
  //       console.log("11111111111");
  //       // return;
  //     };
  //   }
  //   if(a==null){
  //     console.log("22222222222222");
  //   }
  //   console.log("123212131231311315646749898613");
  // }
  // aaa();
  window.onload =function(){
    console.log("documentonload");
  }
  window.onload();
  var App = {};
  App.init = function(){
    console.log("2.html页面");
    
  }
  App.init();
</script>