
body{
  cursor: url("../../common/images/cursor.webp"),default;
  /* background:bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
  /* background: #f1f2f6 url("../images/bej.png") no-repeat 0 0/ 100% 100%; */

}
#page_main{
  width: 100%;
  height: 100%;
}
#page_main .main_header{
  line-height: 3rem;
  border-bottom: 1px solid #dfe4ea;
}

#page_main .page_left{
  background: #ddd;
  box-shadow:0.2px .5px .5px #ddd;
}
/* .main_header .hea_center div,.main_header .hea_right div{
  margin:0 1rem;
} */
#page_main .page_left ul li{
  padding: 1rem 0;
}
#page_main .page_left ul li:hover{
  background: #eccc68;
  color: #ff6700;
}
.main_content{
  text-align: center;
}
/* .main_content > span {
  
} */

.main_content .con_img > img{
  margin-top: 5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}