<div id="page_main">
  <div class="main_header j_flex j_box_hadow">
    <div class="hea_left" style="flex:.5"></div>
    <div class="hea_center j_flex" style="flex:.3">
      <div class="j_hover j_color" onclick="KJ.PageJump(this)" data-url="main/index.html">首页</div>
      <div class="j_hover" onclick="KJ.PageJump(this)" data-url="2/2.html">个人日志</div>
      <div class="j_hover" onclick="KJ.PageJump(this)" data-url="3/3.html">个人作品</div>
      <div class="j_hover" onclick="KJ.PageJump(this)" data-url="4/4.html">留言</div>
    </div>
    <div class="hea_right" style="flex:.1">
      <span class="j_hover">登录</span>/
      <span class="j_hover">注册</span>
    </div>
  </div>
  <div class="main_content j_flex_noAline">
    <div class="page_left j_flex_one" style="text-align: center;" >
      <ul>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
        <li>你好</li>
      </ul>
    </div>
    <!-- 模板刷入点 -->
    <div id="template" class="main_content j_flex_default"></div>
  </div>
  <!-- PageJump页面跳转方法 -->
  <!-- <button onclick="KJ.PageJump(this)" data-url="2/2.html">点击跳转</button> -->
</div>
<script>
  var App = {};
  console.log("xxxxxxxxx",);
  var ahea_center = KJ.Fnfindel(".hea_center");
  ahea_center.addEventListener("click",function(el){
    el.target.className = "j_color";
  })
  App.init = function(){
    console.log("main.html页面");
    KJ.Fnpage("main/index.html");
  }
  App.init();
</script>
